body{
  background: linear-gradient(to bottom right, #FEAC5E, #C779D0, #4BC0C8);
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo-body{
  height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
